@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$headColorLight: #054c44;
$navbarColorLight: #075e55;
$chatContainerColorLight: #efe6dd;
$micBackgroundLight: #00887a;
$iconColorLight: #898e92;
$timeColorMeLight: #96b081;
$timeColorFriendLight: #9e9e9e;

$headColorDark: #0f1e25;
$navbarColorDark: #232d36;
$chatContainerColorDark: #071820;
$micBackgroundDark: #00b09c;
$iconColorDark: #a2a7aa;
$chatBackgroundMeDark: #054640;
$chatBackgroundFriendDark: #212e36;
$inputColorDark: #2d383e;
$timeColorMeDark: #85a6a3;
$timeColorFriendDark: #9aa0a3;

$backgroundLight: #00bfa5;
$backgroundGrey: #d5dbd8;
$chatBackground: #e2ffc7;

$cardBackgroundDark: #1b242b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: $backgroundGrey;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: $backgroundLight;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  h1 {
    font-weight: 500;
    font-size: 18px;
    color: white;
  }
}

.bg-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  .green-section {
    width: 100vw;
    height: 40vh;
    background-color: $backgroundLight;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  min-width: 1100px;
  padding: 2rem 5rem;
  margin: 2rem 0;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  background-color: white;
  border-radius: 5px;

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

  .form-generator {
    min-height: 60vh;
    flex-grow: 0;
    flex-basis: 50%;

    .dark-mode-trigger-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      label {
        margin-left: 5px;
      }
      .dark-mode-trigger {
        width: 15px;
        height: 15px;
      }
    }

    .input-container {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      input[type="text"],
      textarea {
        font-size: 18px;
        padding: 10px;
        outline-color: $backgroundLight;
        border: 1px solid $micBackgroundLight;
        border-radius: 3px;
      }
      &.from {
        margin-top: 20px;
      }

      label {
        margin-bottom: 5px;
        color: $headColorLight;
      }
      .from {
        height: 20px;
        width: 20px;
      }
    }
    .btn {
      width: 100%;
      background-color: $micBackgroundLight;
      color: white;
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $headColorLight;
      }
      border-radius: 4px;
      margin-top: 1rem;
      font-size: 16px;
      &.download {
        margin: 0;
        background-color: rgb(243, 141, 8);
        &:hover {
          background-color: rgb(220, 125, 1);
        }
      }
      &.clear {
        margin-bottom: 10px;
        background-color: rgb(133, 133, 133);
        &:hover {
          background-color: rgb(80, 80, 80);
        }
      }
    }
    .sticker-container {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      label {
        margin-bottom: 5px;
        color: $headColorLight;
      }

      .sticker-list {
        display: grid;
        grid-template-columns: repeat(5, 80px);
        gap: 5px;
        margin-top: 10px;
        .sticker {
          aspect-ratio: 1/1;
          max-height: 80px;
          padding: 10px;
          cursor: pointer;
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.1);
          img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
          }
        }
      }
    }
  }
  .chat-generator {
    min-height: 60vh;
    flex-grow: 0;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .chat-generator-container {
      width: 360px;
      height: 720px;
      background-color: $chatContainerColorLight;
      overflow: hidden;
      ::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      scrollbar-width: none;
      .android-statusbar {
        width: 100%;
        height: 20px;
        background-color: $headColorLight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        p {
          font-size: 12px;
          color: white;
        }

        .right-section {
          display: flex;
          .cellular-container {
            display: flex;
            align-items: center;
            margin-right: 2px;
            p {
              margin-right: 2px;
              font-size: 10px;
            }
            svg {
              height: 14px;
              width: 14px;
              fill: white;
            }
          }
          .battery-container {
            display: flex;
            align-items: center;
            p {
              margin-left: 1px;
            }
            svg {
              height: 14px;
              width: 14px;
              fill: white;
            }
          }
        }
      }
      .chat-navbar {
        width: 100%;
        height: 50px;
        background-color: $navbarColorLight;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        svg {
          fill: white;
          height: 22px;
          width: 22px;
        }
        padding: 0 5px;
        .left-section {
          display: flex;
          align-items: center;
          .profile-container {
            width: 30px;
            height: 30px;
            background-color: $backgroundGrey;
            margin: 0 5px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 30px;
              height: 30px;
              object-fit: cover;
            }
          }
          .friend-text-container {
            .name {
              font-weight: 500;
              white-space: nowrap;
            }
            small {
              font-size: 12px;
            }
          }
        }
        .right-section {
          .phone-icon {
            margin-right: 15px;
          }
        }
      }
      .chat-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        .container-bg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          object-fit: cover;
          object-position: center;
        }
        .chat-message-container {
          width: 100%;
          height: 600px;
          padding: 0 5px;
          overflow-y: auto;

          ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            position: relative;
            z-index: 9;
            li {
              width: max-content;
              background-color: white;
              margin: 3px 0;
              padding: 5px 10px;
              max-width: 300px;

              border-radius: 10px;
              font-size: 14px;
              line-height: 1.3;
              position: relative;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

              .message-container {
                display: flex;
                p {
                  margin-bottom: 2px;
                  word-wrap: break-word;

                  max-width: 245px;
                }

                img {
                  margin-bottom: 2px;
                }
                .message-time {
                  margin-left: 5px;
                  align-self: flex-end;
                  color: $timeColorMeLight;
                  width: 30px;
                }
              }

              &.sticker-type {
                background-color: transparent !important;
                box-shadow: none !important;
                .message-accent {
                  background-color: transparent !important;
                  border: none;
                }
              }
              .sticker-msg {
                height: 80px;
                width: 80px;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: scale-down;
                }
              }
              .message-accent {
                height: 0;
                width: 0;
                border-bottom: 10px solid transparent;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-radius: 5px;
                position: absolute;
                top: 0;
              }
              &.me {
                align-self: flex-end;
                background-color: $chatBackground;
                margin-right: 10px;
                &.first {
                  .message-accent {
                    right: -10px;
                    border-top: 10px solid $chatBackground;
                  }
                }
              }
              &.friend {
                margin-left: 10px;
                &.first {
                  .message-accent {
                    left: -10px;
                    border-top: 10px solid white;
                  }
                }
              }
            }
          }
        }
        .chat-text-container {
          width: 100%;
          height: 50px;
          padding: 5px;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          position: relative;
          z-index: 10;
          .text-input-container {
            width: 305px;
            height: 40px;
            background-color: white;
            border-radius: 1000px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
            svg {
              fill: $iconColorLight;
              height: 22px;
              width: 22px;
            }
            .left-section {
              display: flex;
              align-items: center;
              p {
                color: $iconColorLight;
                margin-left: 10px;
                white-space: nowrap;
              }
            }
            .right-section {
              display: flex;
              .attachment-icon {
                transform: rotate(-135deg);
                margin-right: 15px;
              }
            }
          }
          .voice-button-container {
            width: 40px;
            height: 40px;
            background-color: $micBackgroundLight;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              height: 22px;
              width: 22px;
              fill: white;
            }
          }
        }
      }
    }
  }

  gap: 10px;
}

// handle dark mode

body {
  &.dark {
    background-color: $inputColorDark;
    header {
      background-color: $micBackgroundDark;
    }
    .bg-container {
      .green-section {
        background-color: $micBackgroundDark;
      }

      main {
        background-color: $cardBackgroundDark;
        .bg-container {
          .green-section {
            background-color: $chatBackgroundMeDark;
          }
        }

        .form-generator {
          .dark-mode-trigger-container {
            label {
              color: white;
            }
          }

          .input-container {
            input[type="text"],
            textarea {
              outline-width: 0;
              background-color: $navbarColorDark;
              color: #f9f9f9;
            }

            label {
              color: $micBackgroundDark;
            }
          }

          .sticker-container {
            label {
              color: $micBackgroundDark;
            }
          }
        }
        .chat-generator {
          .chat-generator-container {
            background-color: $chatContainerColorDark;
            scrollbar-width: none;
            .android-statusbar {
              background-color: $headColorDark;
            }
            .chat-navbar {
              background-color: $navbarColorDark;
              color: white;
              svg {
                fill: white;
              }

              .left-section {
                .profile-container {
                  background-color: $backgroundGrey;
                }
              }
            }
            .chat-container {
              .chat-message-container {
                ul {
                  li {
                    background-color: $chatBackgroundFriendDark;
                    color: white;

                    .message-container {
                      .message-time {
                        color: $timeColorMeDark;
                      }
                    }

                    &.me {
                      background-color: $chatBackgroundMeDark;

                      &.first {
                        .message-accent {
                          border-top: 10px solid $chatBackgroundMeDark;
                        }
                      }
                    }
                    &.friend {
                      &.first {
                        .message-accent {
                          left: -10px;
                          border-top: 10px solid $chatBackgroundFriendDark;
                        }
                      }
                    }
                  }
                }
              }
              .chat-text-container {
                .text-input-container {
                  background-color: $inputColorDark;

                  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
                  svg {
                    fill: $iconColorDark;
                  }
                  .left-section {
                    p {
                      color: $iconColorDark;
                    }
                  }
                }
                .voice-button-container {
                  background-color: $micBackgroundDark;

                  svg {
                    fill: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    width: 100vw;
    height: 10vh;
    background-color: $backgroundLight;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    h1 {
      font-weight: 500;
      font-size: 18px;
      color: white;
    }
  }

  .bg-container {
    width: 100%;
    min-height: 100vh;
    position: relative;

    .green-section {
      width: 100%;
      height: 40vh;
      background-color: $backgroundLight;
    }
  }

  main {
    flex-direction: column;
    min-width: 0;
    width: 95vw;
    padding: 2rem 2rem;

    .form-generator {
      width: 100%;
      flex-grow: 0;

      .input-container {
        input[type="text"],
        textarea {
          font-size: 13px;
          padding: 5px;
        }
      }
    }

    gap: 10px;
  }
}
